{% extends 'base.html.twig' %}
{% block title %}Somme{% endblock %}
{% block body %}

<h1>Somme de deux nombres<h1>


<h2>La somme de {{ n1 }} et {{ n2 }} est {{ somme }}<h2>

<a href="{{path('test3')}}">aller à la page index3</a>

{% endblock %}



